<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  IgnorableNamespaces="uap mp uap4">

  <Identity
    Name="com.software-logistics.nuviot"
    Publisher="CN=kevin"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="1717f2c3-c062-4197-943d-cad5a522d9ef" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>NuvIoT UAS Launch</DisplayName>
    <PublisherDisplayName>kevin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="LagoVista.Uas.BaseStation.App.App">
      <uap:VisualElements
        DisplayName="LagoVista.Uas.BaseStation.App"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="LagoVista.Uas.BaseStation.App"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer"/>
    <uap4:Capability Name="offlineMapsManagement"/>
    <Capability Name="internetClientServer"/>
    <DeviceCapability Name="webcam"/>
    <DeviceCapability Name="location"/>
  </Capabilities>
</Package>